<%- include ("header") %> 



    <div class="error-container">
        <h1>Oops, This is not a valid movie title.</h1>
        <h2>No worries, you can search any other movie.</h2>
    </div>

<%- include ("footer") %> 






